<footer class="footer">
    <div class="content has-text-centered">
        <p>{{$.Page.Site.Data.meta.name}}</p>
        <p>{{$.Page.Site.Data.meta.department}}</p>
        <p>{{$.Page.Site.Data.meta.college}}</p>
        <p>{{$.Page.Site.Data.meta.university}}</p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
        </a>
        <a href="https://bulma.io" title="Made with Bulma">
            <img src="/images/made-with-bulma.png" alt="Made with Bulma" style="height: 31px; width: 128px">
        </a>
        <a href="https://gohugo.io" title="Built using Hugo" >
            <img src="/images/gohugo.png" alt="Built using Hugo" width="28" height="31">
        </a>
        <a href={{$.Page.Site.Data.meta.github}} title="Hosted on GitLab">
            <img src="/images/GitLab-Mark-32px.png" alt="Hosted on GitLab" width="28" height="31">
        </a>
    </div>
</footer>

</body>

</html>