.assignment-due-date{
    margin-left: 2%;
}
.footer {
    color: #ffffff;
    background-color: #00d1b2;
}
footer.footer div.content p {
    margin: 0em;
}

h1.hero-title{
    color: #000 !important;
}
.date-item {
    color: #aaaaaa;
}
.is-passed {
    background-color: #e2f7f4;
}
.link {
    color: #0000ff;
    text-decoration: underline;
}
.white-link{
    color: #ffffff;
    text-decoration: underline;
}
.white-link:hover{
    color: #ffffff;
}