{{ partial "header.html" . }}

<section class="section">
    <div class="container">
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</section>
{{ partial "footer.html" . }}